/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Custom CSS for Get Your Hands Dirty*/

* {
	margin: 0;
	padding: 0;
	/*text-align: center;*/
}

body {
	background: #eee;
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}
.field{
	font-weight: bold;

}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#container {
	width: 700px;
}

#contentfooter {
	text-align: center;
	background: #333;
	color: #fff;
	float: left;
	border: 3px solid #aaa;
	border-top: none;
	padding: 25px;
	width: 500px;
}
#contentfooter2 {
	text-align: center;
	background: #333;
	color: #fff;
	float: none;
	border: 3px solid #aaa;
	border-top: none;
	padding: 25px;
	
    margin-right: 3.317535545023696682%;    /* 21px / 633px */
    width: 13.902053712480252764%;          /* 88px / 633px */
}

#header,#footer {
	background: #333;
	color: #fff;
	padding: 10px;
	margin: 30px;
	margin-top: 60px;
}

#footer {
	text-align: center;
	font-size: 12px;
}

.lead {
	font-size: 18px;
}

.blog-post {
	background: #fff;
	padding: 30px;
	margin: 10px;
}

h1, h2, h3 {
	color:  #ed7000;
	margin-top: 10px;
}

.blog-post h2 , .blog-post p {
	margin-bottom: 10px;	
}

.blog-post em {
	color:#ccc;
}


